@page "/ward"
@using HosxpUi.Models
@using Microsoft.AspNetCore.Authorization
@* @inject IHttpClientFactory _httpClientFactory; *@
@inject HttpClient _http 
@inject NavigationManager Navigation;
@attribute [Authorize(Roles = "Admin,Pharmacist,Doctor,Nurse")]

<PageTitle>Ward IPD</PageTitle>
<div class="flex-column">
    <MudDataGrid Items="@wards" Filterable="true" FilterMode="@_filterMode" FilterCaseSensitivity="@_caseSensitivity">
    <Columns>
        <PropertyColumn Property="x => x.name" Title="Ward" />
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" Href="@($"/warddetail/{context.Item.ward1}")">ดูรายละเอียด</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Ward" />
    </PagerContent>
    </MudDataGrid>
</div>




@* <div class="d-flex flex-wrap mt-4">
    <MudRadioGroup T="DataGridFilterMode" @bind-Value="@_filterMode">
        <MudRadio Dense="true" Value="@DataGridFilterMode.Simple" Color="Color.Primary">Simple</MudRadio>
        <MudRadio Dense="true" Value="@DataGridFilterMode.ColumnFilterMenu" Color="Color.Tertiary">Column Menu</MudRadio>
        <MudRadio Dense="true" Value="@DataGridFilterMode.ColumnFilterRow">Column Row</MudRadio>
    </MudRadioGroup>
</div> *@

@* <div class="d-flex flex-wrap mt-4">
    <MudRadioGroup T="DataGridFilterCaseSensitivity" @bind-Value="@_caseSensitivity">
        <MudRadio Dense="true" Value="@DataGridFilterCaseSensitivity.Default" Color="Color.Primary">Default Case Sensitivity</MudRadio>
        <MudRadio Dense="true" Value="@DataGridFilterCaseSensitivity.CaseInsensitive" Color="Color.Tertiary">Case Insensitive</MudRadio>
    </MudRadioGroup>
</div> *@

@code {
    public record Ward(string name, string ward1);
    IEnumerable<Ward> wards = new List<Ward>();
    DataGridFilterMode _filterMode = DataGridFilterMode.Simple;
    DataGridFilterCaseSensitivity _caseSensitivity = DataGridFilterCaseSensitivity.CaseInsensitive;

    protected override async Task OnInitializedAsync()
    {
        //var httpClient = _httpClientFactory.CreateClient("HosxpApi"); 
        //wards = await httpClient.GetFromJsonAsync<List<Ward>>("api/Ipd/getward");
        wards = await _http.GetFromJsonAsync<List<Ward>>("api/Ipd/getward");
    }

}