@page "/opdvisit"
@page "/opdvisit/{hn}"
@using HosxpUi.Models
@using Microsoft.AspNetCore.Authorization
@* @inject IHttpClientFactory _httpClientFactory; *@
@inject HttpClient _http 
@inject NavigationManager Navigation;
@attribute [Authorize(Roles = "Admin,Pharmacist,Doctor,Card,Nurse")]

<PageTitle>Patient Detail Visit</PageTitle>
<h5>คิวนัดครั้งหน้า</h5>
<table class="table">
    <thead>
        <tr>
            <td>วันที่</td>
            <td>เวลา</td>
            <td>แผนก</td>
            <td>แพทย์</td>
            <td>Note</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in appointList){
        <tr>
            <td>@item.nextdate</td>
            <td>@item.nexttime</td>
            <td>@item.nameclinic</td>
            <td>@item.namedoctor</td>
            <td>@item.note</td>
        </tr>
        }
    </tbody>
</table>
<h5>รายการ discharge IPD</h5>
<table class="table">
    <thead>
        <tr>
            <td>วันที่ D/C</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in dcDrugList){
        <tr>
            <td>
                <p><strong>@item.dchdate</strong></p>
                @foreach (var drug in item.drugInfo2)
                {
                    <p>@drug.drugName @drug.strength @drug.usageName1 @drug.usageName2 @drug.usageName3 @drug.spUsageName1 @drug.spUsageName2 @drug.spUsageName3 @drug.qty @drug.dosageform</p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<h5>รายการ visit OPD</h5>
<table class="table">
    <thead>
        <tr>
            <td>วันที่/แผนก/แพทย์</td>
            <td>ประวัติ/ตรวจร่างกาย</td>
            <td>ประวัติสั่งยา</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in visitList){
        <tr>
            <td>
                <p><strong>วันที่</strong> @item.vstdate <strong>เวลา</strong> @item.vsttime <strong>แผนก</strong> @item.department </p> 
                <p><strong>แพทย์</strong> @item.doctorName</p>
            </td>
            <td>
                <p><strong>อาการสำคัญ</strong> @item.cc</p>
                <p><strong>น้ำหนัก</strong> @item.bw kg <strong>ส่วนสูง</strong> @item.height ซม.</p>
                <p><strong>T</strong> @item.temperature C <strong>P</strong> @item.pulse /min <strong>RR</strong> @item.pulse /min <strong>BP</strong> @item.bps/@item.bpd mmHg</p>
            </td>
            <td>
                @if (item.an != null)
                {
                    <button class="btn btn-warning"><a href="/patient/@item.hn/@item.an" target="_blank">Admit</a></button>
                }
                @foreach (var drug in item.drugInfo) 
                {
                    <table>
                        <tr>
                            <p>@drug.drugName @drug.strength @drug.drugUsageName1 @drug.drugUsageName2 @drug.drugUsageName3 @drug.spName1 @drug.spName2 @drug.spName3 @drug.qty @drug.dosageForm</p>
                        </tr>
                    </table>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string hn {get; set;}
    public List<OpdVisit> visitList = new();
    public List<AppointList> appointList = new();
    public List<OpdDcDrug> dcDrugList = new();

    protected override async Task OnInitializedAsync()
    {
        @* var httpClient = _httpClientFactory.CreateClient("HosxpApi"); 
        visitList = await httpClient.GetFromJsonAsync<List<OpdVisit>>($"api/Opd/getopddatabyhn?_hn={hn}");
        appointList = await httpClient.GetFromJsonAsync<List<AppointList>>($"api/Appointment/GetAppointments?_Number={hn}");
        dcDrugList = await httpClient.GetFromJsonAsync<List<OpdDcDrug>>($"api/Drug/GetDrugIpdDc?hn={hn}"); *@
        visitList = await _http.GetFromJsonAsync<List<OpdVisit>>($"api/Opd/getopddatabyhn?_hn={hn}");
        appointList = await _http.GetFromJsonAsync<List<AppointList>>($"api/Appointment/GetAppointments?_Number={hn}");
        dcDrugList = await _http.GetFromJsonAsync<List<OpdDcDrug>>($"api/Drug/GetDrugIpdDc?hn={hn}");        
    }
}