@page "/opd"
@page "/opd/{hn}"
@using Blazored.LocalStorage
@using HosxpUi.Models
@using Microsoft.AspNetCore.Authorization
@* @inject IHttpClientFactory _httpClientFactory; *@
@inject HttpClient _http 
@inject NavigationManager Navigation;
@inject ILocalStorageService _localStorageService;
@attribute [Authorize(Roles = "Admin,User,Pharmacist,Doctor,Card")]

<PageTitle>Patient Detail (OPD)</PageTitle>
<table class="table">
    <tbody>
        <tr>
            <td>
                <img width="100" height="120" src="data:image/jpeg;base64,@ptDetails.image" />
            </td>
            <td>
                <p><strong>ชื่อ</strong> @ptDetails.pname @ptDetails.fname @ptDetails.lname </p>
                <p><strong>HN</strong> @ptDetails.hn</p>
                <p><strong>สิทธิการรักษา</strong> @ptDetails.name</p>
                
            </td>
            <td>
                <button class="btn btn-warning"><a href="http://172.16.1.104/Emr2398_link/index.jsp?queryhn=@ptDetails.hn&user=50239&no_ax=true" target="blank">ดูประวัติ binary</a></button>
                <button class="btn btn-success"> <a href="http://localhost:9090/?QueryMode=PID&Value=xxxxx" target="_blank">ดู x-ray</a></button>
                <button class="btn btn-info"><a href="/labchem/@ptDetails.hn" target="_blank">ผล lab chem</a></button>
                <button class="btn btn-info"><a href="/labhem/@ptDetails.hn" target="_blank">ผล lab hemato</a></button>
                <button class="btn btn-info"><a href="/labua/@ptDetails.hn" target="_blank">ผล lab UA</a></button>
                <button class="btn btn-info"><a href="/labim/@ptDetails.hn" target="_blank">ผล lab immune</a></button>
                <button class="btn btn-info"><a href="/olab/@ptDetails.hn" target="_blank">ผล outlab</a></button>
                <button class="btn btn-info"><a href="/othlab/@ptDetails.hn" target="_blank">ผล lab อืนๆ</a></button>
                <button class="btn btn-primary"><a href="/ptnote/@ptDetails.hn" target="_blank">Note Photo</a></button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <div>
        <input value="@hn" @onchange="((ChangeEventArgs __e) => hn = __e?.Value?.ToString())" style="background-color: gray; color: white; height:35px ;">
        <button class="btn btn-primary" @onclick="Click" >ค้นหา HN</button>
    </div>
</div>

<h5>คิวนัดครั้งหน้า</h5>
<table class="table">
    <thead>
        <tr>
            <td>วันที่</td>
            <td>เวลา</td>
            <td>แผนก</td>
            <td>แพทย์</td>
            <td>Note</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in appointList){
        <tr>
            <td>@item.nextdate</td>
            <td>@item.nexttime</td>
            <td>@item.nameclinic</td>
            <td>@item.namedoctor</td>
            <td>@item.note</td>
        </tr>
        }
    </tbody>
</table>

<h5>รายการ discharge IPD</h5>
<table class="table">
    <thead>
        <tr>
            <td>วันที่ D/C</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in dcDrugList){
        <tr>
            <td>
                <p><strong>@item.dchdate</strong></p>
                @foreach (var drug in item.drugInfo2)
                {
                    <p>@drug.drugName @drug.strength @drug.usageName1 @drug.usageName2 @drug.usageName3 @drug.spUsageName1 @drug.spUsageName2 @drug.spUsageName3 @drug.qty @drug.dosageform</p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<h5>รายการ visit OPD</h5>
<table class="table">
    <thead>
        <tr>
            <td>วันที่/แผนก/แพทย์</td>
            <td>ประวัติ/ตรวจร่างกาย</td>
            <td>ประวัติสั่งยา</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in visitList){
        <tr>
            <td>
                <p><strong>วันที่</strong> @item.vstdate <strong>เวลา</strong> @item.vsttime <strong>แผนก</strong> @item.department </p> 
                <p><strong>แพทย์</strong> @item.doctorName</p>
            </td>
            <td>
                <p><strong>อาการสำคัญ</strong> @item.cc</p>
                <p><strong>น้ำหนัก</strong> @item.bw kg <strong>ส่วนสูง</strong> @item.height ซม.</p>
                <p><strong>T</strong> @item.temperature C <strong>P</strong> @item.pulse /min <strong>RR</strong> @item.pulse /min <strong>BP</strong> @item.bps/@item.bpd mmHg</p>
            </td>
            <td>
                @if (item.an != null)
                {
                    <button class="btn btn-warning"><a href="/patient/@item.hn/@item.an" target="_blank">Admit</a></button>
                }
                @foreach (var drug in item.drugInfo) 
                {
                    <table>
                        <tr>
                            <p>@drug.drugName @drug.strength @drug.drugUsageName1 @drug.drugUsageName2 @drug.drugUsageName3 @drug.spName1 @drug.spName2 @drug.spName3 @drug.qty @drug.dosageForm</p>
                        </tr>
                    </table>
                }
            </td>
        </tr>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public string hn {get; set;}
    public WardPatient ptDetails = new();
    public List<AppointList> appointList = new();
    public List<OpdVisit> visitList = new();
    public List<OpdDcDrug> dcDrugList = new();

    private async Task Click()
    {
        @* var httpClient = _httpClientFactory.CreateClient("HosxpApi"); 
        ptDetails = await httpClient.GetFromJsonAsync<WardPatient>($"api/Opd/getpatientbyhn?_hn={hn}");
        appointList = await httpClient.GetFromJsonAsync<List<AppointList>>($"api/Appointment/GetAppointments?_Number={hn}");
        dcDrugList = await httpClient.GetFromJsonAsync<List<OpdDcDrug>>($"api/Drug/GetDrugIpdDc?hn={hn}");    
        visitList = await httpClient.GetFromJsonAsync<List<OpdVisit>>($"api/Opd/getopddatabyhn?_hn={hn}"); *@
        var token = await _localStorageService.GetItemAsync<string>("jwt-access-token");
        _http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
        ptDetails = await _http.GetFromJsonAsync<WardPatient>($"api/Opd/getpatientbyhn?_hn={hn}");
        appointList = await _http.GetFromJsonAsync<List<AppointList>>($"api/Appointment/GetAppointments?_Number={hn}");
        dcDrugList = await _http.GetFromJsonAsync<List<OpdDcDrug>>($"api/Drug/GetDrugIpdDc?hn={hn}");    
        visitList = await _http.GetFromJsonAsync<List<OpdVisit>>($"api/Opd/getopddatabyhn?_hn={hn}");
    }
}