@page "/patient"
@page "/patient/{hn}"
@using HosxpUi.Models
@using Microsoft.AspNetCore.Authorization
@inject IHttpClientFactory _httpClientFactory;
@inject NavigationManager Navigation;
@attribute [Authorize(Roles = "Admin,User,Nurse,Doctor")]

<PageTitle>Patient Detail</PageTitle>
<table class="table">
    <tbody>
        @foreach (var item in ptDetails){
        <tr>
            <td>
                <img width="100" height="120" src="data:image/jpeg;base64,@item.image" />
            </td>
            <td>
                <p><strong>ชื่อ</strong> @item.pname@item.fname @item.lname</p>
                <p><strong>HN</strong> @item.hn</p>
                <p><strong>AN</strong> @item.an</p>
                <p><strong>สิทธิการรักษา</strong> @item.name</p>
            </td>
            <td>
                <button class="btn btn-warning"><a href="http://172.16.1.104/Emr2398_link/index.jsp?queryhn=@item.hn&user=50239&no_ax=true" target="blank">ดูประวัติ binary</a></button>
                <button class="btn btn-success"> <a href="http://localhost:9090/?QueryMode=PID&Value=@item.hn" target="_blank">ดู x-ray</a></button>
                <button class="btn btn-info"><a href="/labchem/@item.hn" target="_blank">ผล lab chem</a></button>
                <button class="btn btn-info"><a href="/labhem/@item.hn" target="_blank">ผล lab hemato</a></button>
                <button class="btn btn-info"><a href="/labua/@item.hn" target="_blank">ผล lab UA</a></button>
                <button class="btn btn-info"><a href="/olab/@item.hn" target="_blank">ผล outlab</a></button>
                <button class="btn btn-info"><a href="/othlab/@item.hn" target="_blank">ผล lab อืนๆ</a></button>
                <button class="btn btn-primary"><a href="/ptnote/@item.hn" target="_blank">Note Photo</a></button>
            </td>
        </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <td>วันที่/แผนก/แพทย์</td>
            <td>ประวัติ/ตรวจร่างกาย</td>
            <td>ประวัติสั่งยา</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in visitList){
        <tr>
            <td>
                <p><strong>วันที่</strong> @item.vstdate <strong>เวลา</strong> @item.vsttime <strong>แผนก</strong> @item.department </p> 
                <p><strong>แพทย์</strong> @item.doctorName</p>
            </td>
            <td>
                <p><strong>อาการสำคัญ</strong> @item.cc</p>
                <p><strong>น้ำหนัก</strong> @item.bw kg <strong>ส่วนสูง</strong> @item.height ซม.</p>
                <p><strong>T</strong> @item.temperature C <strong>P</strong> @item.pulse /min <strong>RR</strong> @item.pulse /min <strong>BP</strong> @item.bps/@item.bpd mmHg</p>
            </td>
            <td>
                @foreach (var drug in item.drugInfo) 
                {
                    <table>
                        <tr>
                            <p>@drug.drugName @drug.strength @drug.drugUsageName1 @drug.drugUsageName2 @drug.drugUsageName3 @drug.spName1 @drug.spName2 @drug.spName3 @drug.qty @drug.dosageForm</p>
                        </tr>
                    </table>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string hn {get; set;}

    public List<WardPatient> ptDetails = new();
    public List<OpdVisit> visitList = new();
    protected override async Task OnInitializedAsync()
    {
        var httpClient = _httpClientFactory.CreateClient("HosxpApi"); 
        ptDetails = await httpClient.GetFromJsonAsync<List<WardPatient>>($"api/Ipd/getpatientbyhn?_hn={hn}");
        visitList = await httpClient.GetFromJsonAsync<List<OpdVisit>>($"api/Opd/getopddatabyhn?_hn={hn}");
    }
}